<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoot.be.domain.member.MemberMapper">

    <!-- 예시: user_id로 사용자 조회 -->
    <select id="findByUserId" parameterType="string" resultType="com.shoot.be.domain.member.dto.MemberDTO">
        SELECT * FROM member WHERE user_id = #{userId}
    </select>

</mapper>